.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    border-right: 2px solid black;
    margin: 10px;
    border-radius: 5px;

}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}