.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.container {
    border:2px solid #dedede;
    background-color: #B67FB8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #4E2E4F;
}
.container::after {
    content:"";
    clear:both;
    display: table;
}

.container img{
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}


.container img.right {
    float:right;
    margin-left: 20px;
    margin-right: 0;
}

.timeRight {
    float: right;
    color: rgba(255, 255, 255, 0.5);
}

.timeLeft {
    float:left;
    color:rgba(255, 255, 255, 0.5);
}

.dialog{

}

.dialogsItems {
    padding: 10px;
    border-right: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size:18px;
    width: 100px;

}

.dialogsItems a{
    text-decoration: none;
    color: black;
}

.dialogsItems a:hover {
    background-color: #5D3E5E;
    border-radius: 4px;
}

.messages {
    padding: 10px;

}

.message {

}